
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="container">
    <h2>Inprogres</h2>
    @* <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>*@
    <table class="table table-hover">

        <tbody>
            @{foreach (var item in ViewBag.Tasks)
            {
                <tr>
                    <td>item.Name</td>
                    <td>item.Deskription</td>
                    <td>item.Profile.FirstName</td>
                </tr>
            }
}
        </tbody>
    </table>
</div>
